body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: lightblue; /
}

#nav {
    background-color: lightgreen; 
}

#section {
    background-color: lightyellow; 
}

#header, #nav, #section {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; 
}

